[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wagtail = "*"
Django = "*"
django-debug-toolbar = "*"
django-webpack-loader = "*"
"beautifulsoup4" = "*"
django-prometheus = "*"
gunicorn = "*"
psycopg2 = "*"
requests = "*"
opencv-python = "*"
wagtail-autocomplete = "*"
django-widget-tweaks = "*"
dj-database-url = "*"
whitenoise = "*"
asgiref="*"
nplusone = "*"
pipdeptree = "*"

[dev-packages]
"flake8" = "*"
black = "*"
nplusone = "*"
pylint = "*"
pylint-django = "*"
django-livereload-server = "*"
